<header [class.scrolled]="isScrolled" class="fixed top-0 left-0 w-full z-5">
    <nav class="flex flex-row justify-content-between align-items-center container h-full">
        <a href="#">Logo</a>
        <ul class="flex flex-row justify-content-end list-none m-0 p-0">
            @for (item of menuItems; track $index) {
                <li>
                    <div>
                        <p-button [label]="item.label" [link]="true" class="text-white" (click)="scrollTo(item.link)" />
                    </div>
                </li>
            }
        </ul>
    </nav>
  </header>