<div class="my-5 container flex justify-content-center align-items-center flex-column">
    <h2>Sobre nós</h2>
    <div>
        <p class="text-center my-3">
            Somos Felipe e Samanta, um casal que começou sua história lá no ensino médio, em fevereiro de 2020. Desde então, já se passaram quase cinco anos incríveis de muita parceria, aprendizado e amor. Agora, estamos dando mais um grande passo juntos: O nosso casamento! 🎉
        </p>
        <p class="text-center my-3">
            Para ajudar a tornar esse sonho realidade, decidimos criar essa rifa especial. Além de arrecadar uma graninha para as despesas do casamento, é uma oportunidade de envolver todos vocês nesse momento tão importante para nós. E, claro, também vamos dar um novo lar para o nosso Xbox Series S, que está aqui parado e merece ser aproveitado por alguém que vai curti-lo de verdade! 🎮    </p>
        <p class="text-center my-3">
            Queremos aproveitar para agradecer de coração a todos que estão participando. Cada número comprado não é apenas uma chance de ganhar, mas também um apoio enorme ao nosso sonho. Contamos com vocês nessa jornada, e estamos muito animados para compartilhar esse momento especial.
        </p>
    </div>
</div>