<div class="flex flex-row gap-3">
    @if (!isLoading) {
        <div class="interval-box card flex flex-column justify-content-center gap-2 text-center">
            <span class="text-3xl font-light">{{ weeks | padNumber: 2 }}</span>
            <span>Semanas</span>
        </div>
        <div class="interval-box card flex flex-column justify-content-center gap-2 text-center">
            <span class="text-3xl font-light">{{ days | padNumber: 2 }}</span>
            <span>Dias</span>
        </div>
        <div class="interval-box card flex flex-column justify-content-center gap-2 text-center">
            <span class="text-3xl font-light">{{ hours | padNumber: 2 }}</span>
            <span>Horas</span>
        </div>
        <div class="interval-box card flex flex-column justify-content-center gap-2 text-center">
            <span class="text-3xl font-light">{{ minutes | padNumber: 2 }}</span>
            <span>Minutos</span>
        </div>
        <div class="interval-box card flex flex-column justify-content-center gap-2 text-center">
            <span class="text-3xl font-light">{{ seconds | padNumber: 2 }}</span>
            <span>Segundos</span>
        </div>
    } @else {
        @for (_ of [].constructor(5); track $index) {
            <p-skeleton size="6rem" />
        }
    }
</div>