<div class="flex flex-row gap-3">
    <div class="card flex flex-column gap-2 text-center">
        <span>{{ weeks }}</span>
        <span>Semanas</span>
    </div>
    <div class="card flex flex-column gap-2 text-center">
        <span>{{ days }}</span>
        <span>Dias</span>
    </div>
    <div class="card flex flex-column gap-2 text-center">
        <span>{{ hours }}</span>
        <span>Horas</span>
    </div>
    <div class="card flex flex-column gap-2 text-center">
        <span>{{ minutes }}</span>
        <span>Minutos</span>
    </div>
    <div class="card flex flex-column gap-2 text-center">
        <span>{{ seconds }}</span>
        <span>Segundos</span>
    </div>
</div>