<div class="my-5 container flex justify-content-center align-items-center flex-column">
    <h2>Contatos</h2>
    <p class="text-center">
        Abaixo, você encontrará nossos contatos para adquirir os números disponíveis. É só mandar uma mensagem ou ligar, e ficaremos muito contentes com a sua ajuda e participação.
    </p>
    <div class="flex flex-row align-items-center justify-content-center mt-3 gap-3 flex-wrap">
        @for (contact of contacts; track $index) {
            <div class="card py-3 px-5 text-center flex flex-column gap-3">
                <span class="font-bold">{{ contact.name }}</span>
                <a class="flex flex-row gap-2 no-underline hover:underline" target="_blank" href="https://wa.me/55{{contact.phoneNumber}}?text=Ol%C3%A1!%20Gostaria%20de%20comprar%20o%20n%C3%BAmero%20X%20referente%20a%20rifa%20do%20Xbox%20Series%20S.%20">
                    <img class="contact-icon" src="images/whatsapp-icon.png" />
                    <span class="text-blue-500">{{ contact.phoneNumber | phone }}</span>
                </a>
            </div>
        }
    </div>
</div>