<div class="my-5 container flex justify-content-center align-items-center flex-column">
    <h2>Como funciona</h2>
    <div>
        <p class="text-center my-1">
            Nesta seção você poderá entender sobre como irá funcionar esta rifa, tanto a compra dos bilhetes quanto referente ao sorteio do prêmio.
        </p>
    </div>
    <h3>Compra de bilhetes</h3>
    <div>
        <p class="text-center my-1">
            Para realizar todo o processo de compra dos bilhetes, basta seguir o passo-a-passo abaixo.
        </p>
        <div class="grid grid-nogutter nested-grid mt-3">
            <div class="col-6">
                <div class="flex flex-column align-items-end gap-3 mr-3">
                    <div class="card step-card flex flex-column gap-2 py-2 px-4">
                        <span class="font-bold text-lg">Escolha</span>
                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at diam sit amet tortor semper interdum eget id tortor.</span>
                        <div class="step-number flex justify-content-center align-items-center relative">
                            <span class="font-light text-white text-xl py-2">01</span>
                        </div>
                    </div>
                    <div class="card step-card flex flex-column gap-2 py-2 px-4">
                        <span class="font-bold text-lg">Pague o valor de</span>
                        <span class="font-bold text-3xl" style="color: var(--xbox-green);">
                            @if (!isLoading) { {{ raffle.ticket_value | currency: 'BRL' }} } @else {<p-skeleton width="8rem" height="30px" styleClass="inline-block" />}
                        </span>
                        <div class="step-number flex justify-content-center align-items-center relative">
                            <span class="font-light text-white text-xl py-2">03</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="flex flex-column gap-3 ml-3" style="margin-top: 80px;">
                    <div class="card step-card flex flex-column gap-2 py-2 px-4">
                        <span class="font-bold text-lg">Contate-nos</span>
                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at diam sit amet tortor semper interdum eget id tortor.</span>
                        <div class="step-number flex justify-content-center align-items-center relative">
                            <span class="font-light text-white text-xl py-2">02</span>
                        </div>
                    </div>
                    <div class="card step-card flex flex-column gap-2 py-2 px-4">
                        <span class="font-bold text-lg">Aguarde</span>
                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at diam sit amet tortor semper interdum eget id tortor.</span>
                        <div class="step-number flex justify-content-center align-items-center relative">
                            <span class="font-light text-white text-xl py-2">04</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="mt-3 flex flex-row flex-wrap gap-5 justify-content-center">
            <div class="card step-card flex flex-column gap-2 py-2 px-4">
                <span class="font-bold text-lg">Escolha</span>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at diam sit amet tortor semper interdum eget id tortor.</span>
                <div class="step-number flex justify-content-center align-items-center relative">
                    <span class="font-light text-white text-xl py-2">01</span>
                </div>
            </div>
            <div class="card step-card flex flex-column gap-2 py-2 px-4">
                <span class="font-bold text-lg">Contate-nos</span>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at diam sit amet tortor semper interdum eget id tortor.</span>
                <div class="step-number flex justify-content-center align-items-center relative">
                    <span class="font-light text-white text-xl py-2">02</span>
                </div>
            </div>
            <div class="card step-card flex flex-column gap-2 py-2 px-4">
                <span class="font-bold text-lg">Pague o valor de</span>
                <span class="font-bold text-3xl" style="color: var(--xbox-green);">{{ raffle.ticket_value | currency: 'BRL' }}</span>
                <div class="step-number flex justify-content-center align-items-center relative">
                    <span class="font-light text-white text-xl py-2">03</span>
                </div>
            </div>
            <div class="card step-card flex flex-column gap-2 py-2 px-4">
                <span class="font-bold text-lg">Aguarde</span>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at diam sit amet tortor semper interdum eget id tortor.</span>
                <div class="step-number flex justify-content-center align-items-center relative">
                    <span class="font-light text-white text-xl py-2">04</span>
                </div>
            </div>
        </div> -->
    </div>
    <h3>Sorteio</h3>
    <div>
        <p class="text-center mt-1 mb-3">
            A rifa ocorrerá através do sorteio da <a href="https://loterias.caixa.gov.br/Paginas/Federal.aspx" target="_blank">Loteria federal</a> no dia <span>@if (raffleEndDate) { {{ raffleEndDate | date: "dd/MM/Y" }} - {{ getDayOfWeek(raffleEndDate) }} } @else { <p-skeleton width="11.5rem" styleClass="inline-block" /> }</span>
        </p>
        <app-timer [limitDate]="raffleEndDate" />
    </div>
</div>