<div class="my-5 container flex justify-content-center align-items-center flex-column">
    <h2>Como funciona</h2>
    <p class="text-center">
        Lorem ipsum.
    </p>
    <div class="mt-3 text-center">
        <p>
            A rifa ocorrerá através do sorteio da <a href="https://loterias.caixa.gov.br/Paginas/Federal.aspx" target="_blank">Loteria federal</a> no dia <span>@if (raffleEndDate) { {{ raffleEndDate | date: "dd/MM/Y" }} - {{ getDayOfWeek(raffleEndDate) }} } @else { <p-skeleton width="5rem" styleClass="inline-block" /> }</span>
        </p>
        <app-timer [limitDate]="raffleEndDate" />
    </div>
</div>