<div class="my-5 container flex justify-content-center align-items-center flex-column">
    <h2>Como funciona</h2>
    <div>
        <p class="text-center my-1">
            Nesta seção você poderá entender sobre como irá funcionar esta rifa, tanto a compra dos bilhetes quanto referente ao sorteio do bilhete premiado.
        </p>
    </div>
    <h3>Compra de bilhetes</h3>
    <div>
        <p class="text-center my-1">
            Para realizar todo o processo de compra dos bilhetes, basta seguir o passo-a-passo abaixo.
        </p>
        <div class="grid hidden sm:flex grid-nogutter nested-grid mt-3">
            <div class="col-6">
                <div class="flex flex-column align-items-end gap-3 mr-3">
                    <div class="card step-card relative flex flex-column gap-2 py-2 px-4">
                        <span class="font-bold text-lg">Escolha</span>
                        <span>Escolha um ou mais números disponíveis na cartela logo abaixo.</span>
                        <div class="step-number flex justify-content-center align-items-center absolute">
                            <span class="font-light text-white text-xl py-2">01</span>
                        </div>
                    </div>
                    <div class="card step-card relative flex flex-column gap-2 py-2 px-4">
                        <span class="font-bold text-lg">Pague o valor de</span>
                        <span class="font-bold text-4xl" style="color: var(--xbox-green);">
                            @if (!isLoading) { {{ raffle.ticket_value | currency }} } @else {<p-skeleton width="8rem" height="30px" styleClass="inline-block" />}
                        </span>
                        <div class="step-number flex justify-content-center align-items-center absolute">
                            <span class="font-light text-white text-xl py-2">03</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="flex flex-column gap-3 ml-3" style="margin-top: 80px;">
                    <div class="card step-card relative flex flex-column gap-2 py-2 px-4">
                        <span class="font-bold text-lg">Contate-nos</span>
                        <span>Clique no número para que você possa ser redirecionado para o WhatsApp e possamos reservar seu número.</span>
                        <div class="step-number flex justify-content-center align-items-center absolute">
                            <span class="font-light text-white text-xl py-2">02</span>
                        </div>
                    </div>
                    <div class="card step-card relative flex flex-column gap-2 py-2 px-4">
                        <span class="font-bold text-lg">Aguarde</span>
                        <span>Aguarde até que todos os números da rifa sejam comprados e o bilhete ganhador seja sorteado.</span>
                        <div class="step-number flex justify-content-center align-items-center absolute">
                            <span class="font-light text-white text-xl py-2">04</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex sm:hidden flex-column align-items-center gap-4 mt-4">
            <div class="card step-card relative flex flex-column gap-2 py-2 px-4">
                <span class="font-bold text-lg">Escolha</span>
                <span>Escolha um ou mais números disponíveis na cartela logo abaixo.</span>
                <div class="step-number flex justify-content-center align-items-center absolute">
                    <span class="font-light text-white text-xl py-2">01</span>
                </div>
            </div>
            <div class="card step-card relative flex flex-column gap-2 py-2 px-4">
                <span class="font-bold text-lg">Contate-nos</span>
                <span>Clique no número para que você possa ser redirecionado para o WhatsApp e possamos reservar seu número.</span>
                <div class="step-number flex justify-content-center align-items-center absolute">
                    <span class="font-light text-white text-xl py-2">02</span>
                </div>
            </div>
            <div class="card step-card relative flex flex-column gap-2 py-2 px-4">
                <span class="font-bold text-lg">Pague o valor de</span>
                <span class="font-bold text-4xl" style="color: var(--xbox-green);">
                    @if (!isLoading) { {{ raffle.ticket_value | currency }} } @else {<p-skeleton width="8rem" height="30px" styleClass="inline-block" />}
                </span>
                <div class="step-number flex justify-content-center align-items-center absolute">
                    <span class="font-light text-white text-xl py-2">03</span>
                </div>
            </div>
            <div class="card step-card relative flex flex-column gap-2 py-2 px-4">
                <span class="font-bold text-lg">Aguarde</span>
                <span>Aguarde até que todos os números da rifa sejam comprados e o bilhete ganhador seja sorteado.</span>
                <div class="step-number flex justify-content-center align-items-center absolute">
                    <span class="font-light text-white text-xl py-2">04</span>
                </div>
            </div>
        </div>
    </div>
    <h3>Sorteio</h3>
    <div class="text-center">
        <p class="mt-1">
            O sorteio da nossa rifa será realizado com total transparência e acontecerá no dia 
            <span class="font-bold">@if (raffleEndDate) { {{ raffleEndDate | date: "dd/MM/Y" }} - {{ getDayOfWeek(raffleEndDate) }} } @else { <p-skeleton width="11.5rem" styleClass="inline-block" /> }</span>
            utilizando o resultado da <a class="font-bold" href="https://loterias.caixa.gov.br/Paginas/Federal.aspx" target="_blank">Loteria federal</a> como referência.
        </p>
        <div class="my-4">
            <app-timer [limitDate]="raffleEndDate" />
        </div>
        <p class="my-2">
            Para definirmos o bilhete ganhador utilizaremos a lógica onde devemos pegar o 1º número do bilhete sorteado pela Loteria Federal no dia do sorteio e dividi-lo pela quantidade total de números da rifa, e o resto da divisão será o número ganhador!
        </p>
        @if (!isLoading) {
            <p class="my-2">
                Exemplificando um caso, se o 1º número sorteado pela Loteria Federal for {{ ticketNumberExample }} e a rifa tiver {{ raffle.maximum_numbers }} números, o cálculo será o seguinte:
            </p>
            <div class="math-block flex flex-row p-3 font-italic w-min m-auto text-lg my-3">
                <span class="font-bold">{{ ticketNumberExample }}</span> 
                <span class=""> % </span> 
                <span class="font-bold">{{ raffle.maximum_numbers }}</span> 
                = <span class="font-bold">{{ ticketNumberExample % raffle.maximum_numbers }}</span>
            </div>
        }
        <p class="my-2">
            Dessa forma, o sorteio será 100% justo e garantirá que todos os participantes tenham chances iguais de ganhar.
        </p>
        <p class="my-2">
            Desejamos boa sorte e, mais uma vez, agradecemos por embarcar nessa jornada conosco!
        </p>
    </div>
</div>