<div class="my-5 container flex justify-content-center align-items-center flex-column">
    <h2>Cartela</h2>
    <p class="text-center">
        Aqui você pode visualizar todos os números disponíveis para participar da nossa rifa. Escolha seus números da sorte e aumente suas chances de ganhar prêmios incríveis! A tabela abaixo exibe os números disponíveis para compra, indicando quais já foram reservados e quais estão livres.
    </p>
    <div class="card my-3 mx-1 flex flex-row flex-wrap justify-content-center gap-3 p-3 number-table">
        @if (!isLoading) {
            @for (item of cardNumbers; track $index) {
                <div class="number-box py-2 fadein animation-fill-both" [class.cursor-pointer]="item.avaiable" [class.selected-number]="selectedNumbers.includes(item.number)" (click)="toogleNumberSelection(item)" >
                    <div class="mx-auto w-min">{{ item.number | padNumber: 3 }}</div>
                    @if (!item.avaiable) {
                        <i class="pi pi-times font-bold relative number-unavailable text-lg"></i>
                    }
                </div>
            }
        } @else {
            @for (item of [].constructor(200); track $index) {
                <p-skeleton size="2.5rem" />
            }
        }
    </div>
    <div class="flex justify-content-center align-items-center gap-1">
        <i class="pi pi-times font-bold number-unavailable text-lg"></i> - Número não disponível
    </div>
    <div class="fixed bottom-0 px-2 py-3 w-full select-numbers border-round-top-lg animation-duration-200 animation-ease-in-out" [class]="selectedNumbers.length ? 'fadeindown' : 'fadeinup'" [style.display]="selectedNumbers.length ? 'block' : 'none'">
        <div class="flex flex-row justify-content-between align-items-center g-1">
            <div class="flex flex-column g-1 text-white">
                <span>Selecionados:</span>
                <span>{{ selectedNumbers.toString() }}</span>
            </div>
            <p-button label="Solicitar números" (onClick)="requestNumbers()" />
        </div>
    </div>
</div>