<div class="my-5 container flex justify-content-center align-items-center flex-column">
    <h2>Cartela</h2>
    <p class="text-center">
        Aqui você pode visualizar todos os números disponíveis para participar da nossa rifa. Escolha seus números da sorte e aumente suas chances de ganhar prêmios incríveis! A tabela abaixo exibe os números disponíveis para compra, indicando quais já foram reservados e quais estão livres.
    </p>
    <div class="card my-3 mx-1 flex flex-row flex-wrap justify-content-center gap-3 p-3 number-table">
        @if (!isLoading) {
            @for (item of cardNumbers; track $index) {
                @if(!item.avaiable) {
                    <div class="number-box p-2">
                        <span>{{ item.number | padNumber: 3 }}</span>
                        @if (!item.avaiable) {
                            <i class="pi pi-times font-bold relative number-unavailable text-lg"></i>
                        }
                    </div>
                } @else {
                    <div class="number-box p-2 no-underline text-primary cursor-pointer" (click)="buyNumbers([item.number])">
                        <span>{{ item.number | padNumber: 3 }}</span>
                        @if (!item.avaiable) {
                            <i class="pi pi-times font-bold relative number-unavailable text-lg"></i>
                        }
                    </div>
                }
            }
        } @else {
            @for (item of [].constructor(200); track $index) {
                <p-skeleton size="2.5rem" />
            }
        }
    </div>
    <div class="flex justify-content-center align-items-center gap-1">
        <i class="pi pi-times font-bold number-unavailable text-lg"></i> - Número não disponível
    </div>
</div>