.number-box {
    box-shadow: var(--box-shadow);
    border-radius: 4px;
    width: 2.5rem;
    height: 2.5rem;

    .number-unavailable {
        top: -19px;
        left: 10px;
    }
}

.number-table {
    max-width: 600px;
}

.number-unavailable {
    color: #FF0000;
}

.selected-number {
    border: 1.5px solid var(--xbox-green) !important;
    color: var(--xbox-green) !important;
    font-weight: 500;
}

.select-numbers {
    background: var(--bg-green-gradient);
}