<div class="shape-container flex flex-row justify-content-end">
    <div class="shape grid pb-5">
        <div class="lg:col-offset-2 md:col-offset-1 xl:col-4 lg:col-5 md:col-6 col-12 text-white mb-5">
            <h1>Essa é a sua chance de ganhar um Xbox Series S</h1>
            <p>
                Estamos dando a você a oportunidade de levar para casa um incrível Xbox Series S, um dos consoles mais modernos da atualidade. Criamos este site para facilitar sua participação e trazer todas as informações necessárias sobre como funciona, quais números estão disponíveis, e como entrar em contato conosco.
            </p>
            <p>
                Além de concorrer a um prêmio fantástico, você estará nos ajudando em um momento muito especial: o planejamento do nosso casamento! Acreditamos que esta é uma forma divertida e emocionante de unir nossos amigos e familiares enquanto todos têm a chance de sair ganhando.
            </p>
        </div>
        <div class="lg:col-5 col-12 m-auto mb-5">
            <img class="m-auto block" src="images/reward.svg" />
        </div>
    </div>
</div>

<svg style="visibility: hidden; position: absolute;" width="0" height="0" xmlns="http://www.w3.org/2000/svg" version="1.1">
    <defs>
        <filter id="goo"><feGaussianBlur in="SourceGraphic" stdDeviation="24" result="blur" />    
            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 80 -9" result="goo" />
            <feComposite in="SourceGraphic" in2="goo" operator="atop"/>
        </filter>
    </defs>
</svg>