.shape {
    padding-top: 80px;
    background: rgb(14,103,14);
    background: var(--bg-green-gradient);
    color: white;
    clip-path: polygon(0 4%, 100% 0%, 100% 85%, 1% 100%);
}

.shape-container {
    filter: url('#goo');
    overflow:hidden;
    z-index: 1;
}

.main-shape {
    margin-bottom: 90px;
}